#!/usr/bin/make -f

## Copyright (C) 2012 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

#export DH_VERBOSE=1

%:
	dh $@

override_dh_installchangelogs:
	dh_installchangelogs changelog.upstream upstream

override_dh_auto_install:
	make -f Makefile \
		PREFIX="/usr" \
		DESTDIR=./debian/tmp \
		ETC="/etc" \
		SBIN="/usr/sbin" \
		SYSTEM="/lib/systemd/system" \
		MAN="/usr/share/man" \
		install install-systemd install-qubes
	dh_install
